:host{
    display: block;
    background-color: #1f1f1f;
    height: 100%;
}
.white-card{
    background-color: white;
    width: 50%;
    min-width: 300px;
    min-height: 150px;
    border-radius: 15px;
    padding: 10px;
}